[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MashruraT
[access "refs/for/refs/*"]
	read = group user/MashruraT
	push = group user/MashruraT
	label-Code-Review = -2..+2 group user/MashruraT
	label-Verified = -1..+1 group user/MashruraT
	rebase = group user/MashruraT
	removeReviewer = group user/MashruraT
	submit = group user/MashruraT
[access "refs/heads/*"]
	read = group user/MashruraT
	create = group user/MashruraT
	push = +force group user/MashruraT
	pushMerge = group user/MashruraT
[access "refs/tags/*"]
	push = group user/MashruraT
	push = +force group user/MashruraT
